.header {
    background-color: purple;
    color: yellow;
    padding: 10px;
    margin: 0px;
}

.footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 300px; */
    background-color: yellow;
    padding: 10px;
    border: 5px solid purple;
    display: block;
}

h2 {
    color: purple;
}

p {
    color: purple;
}


.fundo-geral {
    background-color: #faf1a1;
}

a:link {
    text-decoration: none;
    color: yellow;
    margin: 10px;
    padding: 5px;
    cap
}

a:visited {
    color: yellow;
}

a:hover {
    background-color: yellow;
    color: purple;
}

button:active {
    background-color: purple;
    color: white;
}

.icones {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}